root = true

[*]
# Common defaults for all files
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.adoc]
# AsciiDoc-specific overrides (if needed)

[*.cr]
# Crystal-specific overrides (if needed)

[*.json]
# JSON-specific overrides (if needed)

[*.md]
# Markdown-specific overrides (if needed)

[*.sh]
indent_style = tab
tab_width = 4

[*.y{a,}ml]
# YAML-specific overrides (if needed)
